.chat-container {
  height: 200px;
}

.chat-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-field {
  flex: 1;
}

.submit-button {
  flex: 1;
  width: 40px;
  height: 40px;
}

.chat-display-field {
  flex: 1;
}
