name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "*"

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 18
      - run: npm ci
      - run: npm run lint
      - run: npm test